# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
.env
.venv/
venv/
env/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# EDITOR / IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# MLFLOW TRACKING
# =========================
mlruns/

# =========================
# DATABASE FILES (LOCAL ONLY)
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# TEMP / OUTPUT FILES
# =========================
outputs/
*.tmp
*.temp

# =========================
# DOCKER OVERRIDES
# =========================
docker-compose.override.yml

# =========================
# TEST / COVERAGE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# STREAMLIT SECRETS
# =========================
.streamlit/secrets.toml
forecast_plot.png